output/*
main
**/*.o
/test/benchmark_teukolsky_precise
/test/test_teukolsky_precise_correctness
/test/test_eigen_scale_sums
/test/test_teukolsky_precise_correctness_prod
/test/test_eigen_scale_sums_prod
/test/test_teukolsky_precise_correctness_san
/test/test_eigen_scale_sums_san
